* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container-outter {
    width: 100%;
  }
  .container-inner {
    max-width: 1200px;
    margin: auto; 
  }
  
  .header {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h1 {
      display: flex;
      flex-direction: column;
  
  
      span {
        display: flex;
        flex-direction: column;
     
    }
    }
    nav {
      display: flex;
      flex-direction: column;
      
      .social {
        margin: 0 auto;
      }

      ul {
        display: flex;
        
        justify-content: space-evenly;
      }
    }
  }
  
  @media (min-width: 880px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
  
      h1 {
        
        span {
          flex-direction: row;
          justify-content: space-between; 
        }
      }

      nav {
        flex-direction: column;

        ul {
          
          li {
            margin: 0 0 0 0.5em;
          }
        }
        
        .social {
          margin-right: 0;
          
        }
      }
    }
  }
  
  .hero {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }
  
  @media (min-width: 880px) {
    .hero {
      flex-direction: row;
      
      h1 {
        width: 30%;
        
        margin: auto; 
      }
  
      .right {
        width: 40%;
        display: flex;
        flex-direction: column;
  
        a {
          width: 100%;
          margin: auto;
        }      
  
        p {
          width: 100%;
          margin: auto;
        }
      }
    }
  }
  
  #servicesSection {
    text-align: center;
    font-size: 2.5rem;
    
  }

  .features {
    
    margin: 2em 0;

    line-height: 1.6;
    width: 100%;
    padding: 1em;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   grid-template-rows: repeat(auto-fit, 300px);
   align-items: center;
   
   grid-gap: 2em;

    .feature-post {
      padding: 1em;

      background: rgba(0, 0, 0, .5);

      border-radius: 10px;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);

    }
  }
  
  @media (min-width: 880px) {
    .features {
      flex-direction: row;
      justify-content: space-between;

    }
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .footer-name {
      width: 100%;
    }
  
    .copyright {
      width: 100%;
    }
  }
  
  .footer > div {
    padding: 1em;
  }

  //contact us page layout
  .page {
    
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    
    h1 {
      text-align: center;
    }
  }

  .contact-content {
    
    display: flex;
    justify-content: center;
  }

.services {
  margin-bottom: 2em;
}

.service-wrapper {
  
  .service {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 80%;
      margin: auto;
      
      .service-container {
          padding: 1em;
        a {
          color: #fff;
        }
          h2 {
              padding: 1em;
              color: #fff;
         }

         p {
          color: #fff;
         }
      }

      img {
        
          width: 100%;
          height: 100%;
          margin: auto;
          opacity: .75;
          border-radius: 10px;
          object-fit: cover;
      }
   }
}

@media (min-width: 1000px) {
  .service-wrapper {

      .service {
          
          flex-direction: row;
          justify-content: center;
                
          .service-container {
              margin: auto;
          }

          img {
              margin: 2em;
              max-height: 800px;
              object-fit: contain;
              width: 50%;
          }
      }

      .first {
          img {
              order: 1;
          }

          .service-container {
              order: 2;
      }
    } 
  }
}

.price-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: row dense;
  grid-gap: 1em;
  padding: 1em;

  .price {
    padding: 1em;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    position: relative;

    li {
      position: absolute;
      top:40px;
      right: 10px;
      list-style: none;
      a {
        text-decoration: none;
        color: rgba(255,255,255,.5);
        transition: all .3s ease-in-out;
        &:hover {
          color: white;
        }
      }
    }

    h2 {
      color: rgba(255,100,100,.7);
      margin: .5em 0;
    }

    h4 {
      color: rgba(100,200,200,.7); 
      margin: .5em 0;
    }

    h5 {
      color: rgba(0,150,200,.7); 
    }

    p {
      color: rgba(255, 255 , 255, .8);
      letter-spacing: .04rem;
    }
  }
}